p{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nabegator{
    font-size: 18px;
}



.primerletra{
    font-size: 30px;
}